.subMenu {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.subMenu ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.subMenu ul::-webkit-scrollbar {
  display: none;
}

.subMenu ul {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.subMenu li {
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 0 0 auto;
  scroll-snap-align: start;
  margin-right: 10px;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subMenu li:hover {
  background-color: #ced4da;
}

.customLink {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .subMenu ul {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .subMenu li {
    width: 80px;
    height: 50px;
  }
}
