.footer {
  background-color: #211951;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}

.footer_brand {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;
  flex: 1 0 100%;
  text-align: center;
}

.footer_brand:hover {
  color: #836fff;
}

.footer_col {
  flex: 1 0 20%;
  margin-bottom: 20px;
}

.footer_links,
h5 {
  color: white;
}
.footer_links,
a {
  color: white;
}

.footer-links:hover,
a:hover {
  color: #836fff;
}

.foobar {
  background-color: #11083f;
  color: white;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .footer-col {
    flex: 1 0 50%;
  }
}

@media (max-width: 576px) {
  .footer-col {
    flex: 1 0 100%;
  }
}
