.fullpage {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
  }
}

.sidebar {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .sidebar {
    width: 25%;
    margin-bottom: 0;
  }
}

.heading {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.checkbox-container {
  margin-bottom: 0.5rem;
}

.checkbox-container label {
  display: flex;
  align-items: center;
}

.checkbox-input {
  margin-right: 0.5rem;
}

.product-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 640px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  border: 1px solid #e5e7eb;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.product-model {
  text-align: center;
  font-weight: 600;
}

.ind-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ind-image {
  flex: 1;
  text-align: center;
  margin-right: 20px;
}

.ind-image img {
  max-width: 100%;
  height: auto;
}

.ind-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ind-company {
  font-size: 24px;
  font-weight: bold;
}

.ind-model {
  font-size: 20px;
}

.ind-price {
  font-size: 24px;
  font-weight: bold;
}

.ind-desc {
  font-size: 16px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .ind-section {
    flex-direction: column;
    align-items: center;
  }

  .ind-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
